/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism-tomorrow&languages=markup+css+clike+javascript+c+csharp+cpp+csv+gdscript+git+json+python */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #dedee0;
	background: none;
	font-family: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
	font-size: 0.9em;
	font-weight: 400; 
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 0em;
	margin: 0 0 2em 0; 
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #202531;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #ccced380;
	font-style: italic;
	font-weight: 300;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.function{
	color: #9cdcfe;
}

.token.boolean{
	color: #ff7085;
}
.token.number {
	color: #8effda;
	font-weight: 300;
}

.token.property,
.token.class-name,
/* .token.constant, */
.token.symbol {
	color: #8effda;
	font-weight: 300;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword{
	color: #ff7085;
	font-weight: 900;
}

.token.builtin{
	color: #ff8ccc;
	font-weight: 700;
}

.token.string,
.token.char,
.token.variable,
.token.regex {
	color: #ffeca1;
	font-weight: 300;
}


.token.attr-value{
	color: #ffb373;
	font-weight: 900;
}

.token.operator,
.token.entity,
.token.url {
	color: #abc8ff;
	font-weight: 300;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

